@import "styles.css";

.work {
    margin-top: 6rem;
    padding: 6rem 0 1.5rem 0;
    border-top: 1px solid var(--system-200);
    display: grid;
    grid-template-columns: 1fr 21rem;
    grid-template-areas: "title summary";
}

.work-title {
    grid-area: title;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 1rem;
    height: fit-content;
    align-items: center;
}

.work-summary {
    grid-area: summary;
    padding-top: 0.35rem;
}

.slider {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    scroll-padding: 0 calc((100vw - 42.5rem) / 2);

    > video {
        border-radius: 0.5rem;
        scroll-snap-align: center;
        flex: 0 0 auto;
        width: 42.5rem;
        height: 23.5rem;
        object-fit: cover;

        /* hide scrollbar */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }
}

.slider::scroll-button(*) {
    grid-area: controls;
    border: 0;
    font-size: 2rem;
    background: none;
    color: var(--system-300);
    cursor: pointer;
}

.slider::scroll-button(*):hover,
.slider::scroll-button(*):focus {
    color: var(--system-400);
    background-color: #dfe3d6;
}

.slider::scroll-button(*):disabled {
    color: var(--system-300);
    opacity: 25%;
    cursor: unset;
}

.slider::scroll-button(left) {
    /* Set the font for this icon style */
    font-family: "faSolid";
    /* Set the weight for this icon style */
    font-weight: 900;
    /* Make sure icons render pixel-perfect */
    -webkit-font-smoothing: antialiased;
    content: "\f053" / "Previous";
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    background-color: var(--system-200);
    border-radius: 999px;
    transition: 0.3s ease;
}

.slider::scroll-button(right) {
    /* Set the font for this icon style */
    font-family: "faSolid";
    /* Set the weight for this icon style */
    font-weight: 900;
    /* Make sure icons render pixel-perfect */
    -webkit-font-smoothing: antialiased;
    content: "\f054" / "Next";
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    background-color: var(--system-200);
    border-radius: 999px;
    transition: 0.3s ease;
}

.slider::before,
.slider::after {
    content: "";
    flex: 0 0 calc((100vw - 42.5rem) / 2 - 1.5rem);
}

.work-description {
    display: grid;
    grid-template-columns: 32rem auto;
    grid-template-areas: "description controls";
    margin: 1.5rem 0 0 0;
}

.work-description p {
    grid-area: description;
    padding-bottom: 6rem;
}
